input{
    color: white;
    border: none;
    border-radius: 50px;
    background-color: rgb(43, 42, 51);
}
input:focus{
    outline: none;
}
fieldset{
    border-color: rgb(103, 109, 112);
    border-style: solid;
}
h4{
    text-align: center;
}
