html, body{
 background-color: rgb(35, 46, 52) !important;
 margin: 0;
 color: white;

}
header{
    width: 100%;
    height: 50px;
    background-color: rgb(16, 22, 26);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
header div div{
    width: fit-content;
    text-align: right;
}
main{
    min-height: calc(100vh - 160px);
}
footer{
    width:100%;
    height:70px;
    padding: 15px 0;
    background-color: rgb(16, 22, 26);
    height: 50px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.center{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
a{
    text-decoration: none;
    color: rgb(88, 159, 211) !important;
}
a:hover{
    color: rgb(26, 59, 83) !important;
}
.playground{
    border-radius: 10px;
    border: 1px rgb(103, 109, 112) solid;
    margin: 15px 0;
    padding: 15px;
    height: fit-content;
    background-color: rgb(24, 26, 27);
}
table{
    width: 100%;
    text-align: left;
}
#plus svg:hover{
    color: rgb(25, 163, 25)
}
.notes:hover{
    color: rgb(178, 167, 7);
}
.trash:hover{
    color: red;
}
details > summary {
    list-style: none;
  }
  
  details > summary::marker, /* Latest Chrome, Edge, Firefox */ 
  details > summary::-webkit-details-marker /* Safari */ {
    display: none;
}
button{
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
}
